/*! https://codepen.io/brunjo/pen/xbwVXJ */
:host {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
  display: block;
}

.gh-bar-inner {
  content: " ";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;

  &:nth-child(1) {
    background-color: #da4733;
    animation: gh-calendar-loading 2s linear infinite;
  }

  &:nth-child(2) {
    background-color: #3b78e7;
    animation: gh-calendar-loading 2s linear .6666s infinite;
  }

  &:nth-child(3) {
    background-color: #fdba2c;
    animation: gh-calendar-loading 2s linear 1.2222s infinite;
  }
}

@keyframes gh-calendar-loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}
