/.idea/
/node_modules/
/.tmp/
/.demo/
/*.tgz
/dist/styling/dark-theme.scss
/dist/styling/light-theme.scss
/.awcache
/*.tmp.js
/*.tmp.json
/coverage/
/package.json.bak
/README.md.bak
/documentation/
/*.tar.gz
/build/
/ci/
/test-fixtures/
/.editorconfig
/.gitignore
/.travis.yml
/gulpfile.js
/karma.conf.ts
/karma-test-entry.ts
/tsconfig*
/tslint.json
/webpack.config.js
/src/
/media/
/.github/
