mat-toolbar(color='primary')
  mat-toolbar-row.flex.sp
    ghcc-icon
    .flex
      mat-menu(#docMenu="matMenu", yPosition='below', xPosition='after')
        a(mat-menu-item, target='_blank', rel='noopener', href='documentation/1.0/index.html') 1.0
      button(mat-button, [matMenuTriggerFor]="docMenu") Documentation
      gh-icon

mat-card
  mat-card-content
    .flex.sp
      div
        span Locale:
        |
        |
        mat-radio-group(name='locale', [(ngModel)]="locale")
          mat-radio-button(value='en')
            gh-demo-flag(flag='en')
          mat-radio-button(value='ru')
            gh-demo-flag(flag='ru')
          mat-radio-button(value='lt')
            gh-demo-flag(flag='lt')
      div
        span Theme:
        |
        |
        mat-radio-group(name='theme', [(ngModel)]="selectedTheme")
          mat-radio-button(value='light') Light
          mat-radio-button(value='dark') Dark
    .mt([ngClass]="selectedTheme")
      gh-contrib-calendar([user]='userToFetch', [locale]='locale', (error)='handleError($event)')
    .mt.center
      form((submit)='userToFetch = userInp.value')
        mat-form-field
          input(matInput, placeholder='User to fetch', value='Alorel', #userInp)
        button(type='submit', mat-button, mat-raised-button) FETCH
